body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    text-align: center;
    overflow: hidden;
    margin: 1rem auto auto auto;
    color: black;
    padding: auto auto auto auto;
    font-size: 1.5rem;
}
.titre {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: auto auto auto auto;
    color: black;
}
.titre2 {
    font-size: 1.8rem;
    margin: auto auto auto auto;
    font-style: oblique;
    color: burlywood;
    text-align: center;
}
.film {
    text-decoration: none;
}
.cdc {
    font-size: 1rem;
    text-decoration: none;
    margin: auto auto auto auto;
    padding: auto auto auto auto;
    text-align: center;
    color: black;

}
