body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar {
    text-align: center;
    overflow: hidden;
    margin: 1rem auto auto auto;
    color: black;
    padding: auto auto auto auto;
    font-size: 1.5rem;
}
:hover.navbar {
    background-color: burlywood;
    transition: 50ms;
}
.titre {
    font-size: 3rem;
    font-style: italic;
    text-align: center;
    margin: auto auto auto auto;
    color: black;
}
.titre2 {
    font-size: 2.5rem;
    margin: auto 2rem auto 2rem;
    padding: auto auto auto auto;
    color: burlywood;
    text-align: center;
}
.film {
    color: red;
    font-size: 2rem;
    font-style: italic;
    margin: 2rem auto 2rem auto;
}
h3 {
    text-align: center;
}
.cdc {
    font-size: 1rem;
    text-decoration: none;
    margin: auto auto auto auto;
    padding: auto auto auto auto;
    text-align: center;
    color: black;

}

}
.fincher {
    display:flex;
    justify-content: center;
    
    
}
.formulaire {
    text-align: center
    color ;
}
.titre3 {
    font-size: 2.5rem;
    margin: 2rem auto 2rem auto;
    padding: auto auto auto auto;
    color: burlywood;
    text-align: center;
}
.lien-ytb {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.image {
    display: flex;
    justify-content: flex-start
    width: 380px;
    height: 430px;
    align-items: flex-start;
}
.synopsis {
    width: 45%;
}